
<app-header></app-header>
<section id="home" class="section-home pb-5">
  <div class="container">
      <div class="row p-4">
          <div class="col-md-6 m-auto">
              
              <h2>Better Solutions For</h2>
              <h2 class="mb-4">Bill payments</h2>
              <br>
              <div class="home m-auto">
                  <button class="button" type="button" (click)="onClick()">Get Started</button>
                  
              </div>

          </div>
          <div class="col-md-6 m-auto">
              <img class="home-img-responsive" src="../../assets/images/3.png" alt="yes">
          </div>
          
      </div>
      <div class="background-svg">
      </div>
  </div>
</section>
<app-about></app-about>
<app-feature></app-feature>
<app-team></app-team>
<app-contact></app-contact>
<app-footer></app-footer>
