.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
      min-height: 120px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 36px;
    }
    &__content {
      min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      // font-size: 8;
      // // &-data {
      // //   top: 50%;
      // //   left: 50%;
      // //   transform: translate(-50%, -50%);
      // // }
    }
  }
  table table-striped {
    width: auto;
    text-align: center;
    font-size: 10px;
  }
  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100vh;
    
  }
  
  mat-drawer {
    background: #0f172a;
  }
  
  // body {
  //   background: #67B26F;  /* fallback for old browsers */
  //   background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
  //   background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //   padding: 0;
  //   margin: 0;
  //   font-family: 'Lato', sans-serif;
  //   color: #000;
  // }
  .student-profile .card {
    border-radius: 10px;
  }
  .student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
  }
  .student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
  }
  .student-profile .card p {
    font-size: 16px;
    color: #000;
  }
  .student-profile .table th,
  .student-profile .table td {
      font-size: 14px;
      padding: 5px 10px;
      color: #000;
  }