<section id="about">
    <div class="container">
        <div class="row">
            <h1 class="title">About Us</h1>
        </div>
        
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="../../assets/images/aboutus.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 m-auto">
                <h1 class="text-center ">Our Mission</h1>
                <p class="text-center">“To build the most convenient, secure, cost-effective payment solution for electric bills.”</p>
                
                    
            </div>
        </div>
    </div>

   
</section>