<mat-drawer-container>
	<mat-drawer mode="side" [opened]="sideBarOpen">
	  <!-- <mat-drawer mode="side" opened="true"> -->
	  <app-customer-sidenav></app-customer-sidenav>
	</mat-drawer>
	<mat-drawer-content>
	  <app-dashboard-header (toggleSidebarForMe)="sideBarToggler()"></app-dashboard-header>
	  <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Make Payment</div>
      <div class="page__content shadow p-3 position-relative">
<div class="container" >
        <form novalidate #paymnetForm="ngForm" (ngSubmit)="onSubmit(paymnetForm)" >
  
          <mat-dialog-content>
            <div>
                <mat-form-field>
                  <input matInput placeholder="Bill ID" type="number" [(ngModel)]="payment.billId" name="billId" #billId="ngModel" required>
                  <mat-error *ngIf="billId.errors?.['required']">Bill ID is required</mat-error>
                </mat-form-field>
              </div>
            <div>
                <mat-form-field>
                  <input matInput placeholder="Customer ID" type="number" [(ngModel)]="payment.customerId" name="customerID" #customerID="ngModel" required>
                  <mat-error *ngIf="customerID.errors?.['required']">Customer ID is required</mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <input matInput placeholder="Payment Method" type="text" [(ngModel)]="payment.paymentMethod" name="paymentMethod" #paymentMethod="ngModel" required>
                  <mat-error *ngIf="paymentMethod.errors?.['required']">Payment method is required</mat-error>
                </mat-form-field>
              </div>
          </mat-dialog-content>
          <mat-dialog-actions>
            <span class="flex-spacer"></span>
            <button mat-button routerLink="/customer-profile">Cancel</button>
            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="paymnetForm.form.invalid">Add</button>
          </mat-dialog-actions>
        </form>
  </div>
</div>
</div>
</mat-drawer-content>
</mat-drawer-container>
