<mat-toolbar class="color" style="position: sticky;top: 0;">
  <span class="px-2"><img class="logo" src="/assets/images/logo.png" ></span>
  <a mat-button  href="#home"> Home</a>
  <a mat-button  href="#about"> About</a>
  <a mat-button  href="#feature"> Services</a>
  <a mat-button  href="#team"> Team</a>
  <a mat-button  href="#contact"> Contact</a>
  <span class="flex-spacer"></span>
  <a mat-button *ngIf="!this.service.loggedIn" (click)="openLoginForm()" ><i class='fas fa-sign-in-alt'></i> Login</a>
  <a mat-button *ngIf="!this.service.loggedIn" (click)="openSignupForm()" ><span class="fa fa-address-card fa-lg"></span> Signup</a>
</mat-toolbar>