<mat-drawer-container>
	<mat-drawer mode="side" [opened]="sideBarOpen">
	  <!-- <mat-drawer mode="side" opened="true"> -->
	  <app-sidenav></app-sidenav>
	</mat-drawer>
	<mat-drawer-content>
	  <app-dashboard-header (toggleSidebarForMe)="sideBarToggler()"></app-dashboard-header>
	  <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Change Password</div>
      <div class="page__content shadow p-3 position-relative">
<div class="container" >
        <form novalidate #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm)" >
  
          <mat-dialog-content>
            <div>
                <mat-form-field>
                  <input matInput placeholder="Old Password" type="password" [(ngModel)]="change.oldPassword" name="oldPassword" #oldPassword="ngModel" required>
                  <mat-error *ngIf="oldPassword.errors?.['required']">Please Enter your current password</mat-error>
                </mat-form-field>
              </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="New Password" type="password" [(ngModel)]="change.newPassword" name="newPassword" #newPassword="ngModel" required>
                <mat-error *ngIf="newPassword.errors?.['required']">New Password can not be empty!</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="change.confirmPassword" name="confirmPassword" #confirmPassword="ngModel" required>
                <mat-error *ngIf="confirmPassword.errors?.['required']">Confirm password does not match new password!</mat-error>
              </mat-form-field>
            </div>
          </mat-dialog-content>
          <mat-dialog-actions>
            <span class="flex-spacer"></span>
            <button mat-button routerLink="/admin-profile">Cancel</button>
            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="changePasswordForm.form.invalid">Update</button>
          </mat-dialog-actions>
        </form>
  </div>
</div>
</div>
</mat-drawer-content>
</mat-drawer-container>
