<mat-drawer-container>
	<mat-drawer mode="side" [opened]="sideBarOpen">
	  <!-- <mat-drawer mode="side" opened="true"> -->
	  <app-sidenav></app-sidenav>
	</mat-drawer>
	<mat-drawer-content>
	  <app-dashboard-header (toggleSidebarForMe)="sideBarToggler()"></app-dashboard-header>
	  <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Bills</div>
      <div class="page__content shadow p-3 position-relative">
          <div class="container">
            <table class="table table-striped">
              <thead class="thead-dark">
              <tr>
                <th>Bill ID</th>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Customer Type</th>
                <th>Electricity Board ID</th>
                <th>Address</th>
                <th>Month & Year</th>
                <th>Units</th>
                <th>Bill Amount</th>
                <th>Due Payment Date</th>
                <th>Payment Status</th>
                <th>Payment ID</th>
                <th>Payment Date</th>
                <th>Payment Method</th> 
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let bill of bills">
                <td><span>{{bill.billId}}</span></td>
                <td><span>{{bill.customerId}}</span></td>
                <td><span>{{bill.customerName}}</span></td>
                <td><span>{{bill.customerType}}</span></td>
                <td><span>{{bill.electricityBoardId}}</span></td>
                <td><span>{{bill.customerAddress}}</span></td>
                <td><span>{{bill.monthAndYearOfBill}}</span></td>
                <td><span>{{bill.units}}</span></td>
                <td><span>₹ {{bill.billAmount}}</span></td>
                <td><span>{{bill.duePaymentDate}}</span></td>
                <td><span>{{bill.paymentStatus}}</span></td>
                <td><span>{{bill.paymentId}}</span></td>
                <td><span>{{bill.paymentDate}}</span></td>
                <td><span>{{bill.paymentMethod}}</span></td>
                <td class="d-flex">
                    <button type="button" style='margin-right:16px' class="btn btn-outline-info">
                  <a mat-list-item (click)="update()">
                    <mat-icon>edit</mat-icon>
                  </a>
                </button>
                <button type="button" class="btn btn-outline-danger">
                  <a mat-list-item (click)="deleteBill(bill.billId)">
                    <mat-icon>delete_outline</mat-icon>
                  </a>
                </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
	</mat-drawer-content>
  </mat-drawer-container>
