.flex-spacer {
    flex: 1 1 auto;
  }
  mat-form-field {
    width: 80%;
  }
  mat-card {
    max-width: 400px;
    height: 410px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .imput-field{
    padding: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid forestgreen;
    outline: none;
  }
  .button-danger{
    padding: 6px 12px;
    color: white;
    /* color: #fff; */
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 5px;
  }
  .button-success{
    padding: 6px 12px;
    color: white;
    /* color: #fff; */
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin: 5px;
    border-radius: 5px;
  }
  .mat-form-field-wrapper{
    padding: 0px !important;
  }
  .mat-card{
    margin:0px;
    max-width: 455px;
  }
  .mat-form-field-wrapper{
    padding: 0px !important;
  }
  .input-field-login{
  padding: 6px 20px;
  background: #f1f1f1;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  outline: none;
  }
  .button-login{
  border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    border-radius: 25px;
    margin: 4px 2px;
    margin: auto;
    cursor: pointer;
    background-color: #13e47b;
  }
  // .responsive-div{
  // padding-top: 80px;
  // }
  .img-size{
  width: 280px;
  height: 353px;
  }
  