<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/images/logo.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">SERVICES</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/customer-profile">
      <mat-icon>dashboard</mat-icon> Profile
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/changePasswordCustomer">
      <mat-icon>lock</mat-icon> Change Password
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/customer-bills">
      <mat-icon>receipt</mat-icon> Bills
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/customer-payments">
      <mat-icon>payment</mat-icon> Payments
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/makePayment">
      <mat-icon>account_balance</mat-icon> Make Payment
    </a>
  </mat-nav-list>
  
